<div class="cookies is-visible" id="js-cookies">
    <div class="cookies-inner">
        <p class="cookies-inner__text">
            Afin de fonctionner ce site utilise des cookies. En continuant votre navigation ou en cliquant sur j'ai compris vous en acceptez l'utilisation.
            <a href="#" title="En savoir plus sur les cookies">En savoir plus</a>
        </p>
        <button type="button" id="js-btn-cookies" class="button button--blue button--nowrap">J'ai compris</button>
    </div>
</div>