@import "variables";

.button {
    font-size: 16px;
    padding:10px 18px;
    border-radius:2px;
    color: $white;
    transition: all 0.3s ease;
    &--blue {
        background: $blue;
        &:hover {
            background: #489cfd;
        }
    }
    &--purple {
        background: $purple;
        &:hover {
            background: #7e8ae8;
        }
    }
    &--red {
        background: $red;
        &:hover {
            background: #fd4f84;
        }
    }
    &--transparent {
        color:$gray-2;
        border:1px solid $gray-2;
        &:hover {
            background: $gray-2;
            color:$white;
        }
    }
}

button {
    font-size: 14px;
    padding:10px 18px;
    border-radius:2px;
    color: $white;
    transition: all 0.3s ease;
    background: none;
    border:0;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    &:hover {
        border:0;
    }
}
