body {
    margin:0;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.margin-auto{
    margin: auto;
}
