
header {
    padding-top:10px;
    .menu {
        display: inline-block;
        list-style: none;
        padding: 0;
        float: right;
        li {
            display: inline-block;
            .menu__link {
                font-weight: 300;
                display: inline-block;
                margin-left: 38px;
                &--strong {
                    font-weight: bold;
                }
            }
        }
    }
}
