@import 'variables';

@keyframes heart-burst {
 from {background-position:left;}
 to { background-position:right;}
}


.introduction {
    padding: 25px 0;
    text-align: left;

    @media only screen and (min-width: 30em) {
        padding: 100px 0;
        text-align: right;
    }
   
    &__title, &__text {
        padding-right: 0;

        @media only screen and (min-width: 30em) {
            padding-right:10px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: unset;

        @media only screen and (min-width: 30em) {
            font-size: inherit;
            line-height: 30px;
        }
    }

    &__btn {
        text-align: center;

        @media only screen and (min-width: 30em) {
            text-align: unset;
        }
    }
    
    .button {
        margin: 10px 10px 20px;
    }

    &__image {
        padding-left: 0;

        @media only screen and (min-width: 30em) {
            padding-left: 10px;
        }

        img {
            width: 100%;
        }
    }
}

.features {
    background: $gray-light;
    padding: 30px 0;

    @media only screen and (min-width: 30em) {
        padding: 55px 0;
    }

    &__title {
        text-align: center;
        margin-top: 0;
        font-size: 18px;

        @media only screen and (min-width: 30em) {
            font-size: 26px;
        }
    }

    .feature {
        text-align: center;

        &__text {
            font-size: 14px;
            line-height: 1;

            @media only screen and (min-width: 30em) {
                font-size: 16px;
            }
        }

        &__img {
            height: 50px;
            width: 50px;

            @media only screen and (min-width: 30em) {
                height: 60px;
                width: 60px;
            }
        }
    }
}

.registration {
    text-align: center;
    background-image: url('../images/landscape.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px 0;
    position: relative;
    height: 195px;

    @media only screen and (min-width: 30em) {
        padding: 90px 0;
        height: 315px;
    }

    &__text , .button {
        transform: translateX(-50%);
        position: absolute;
        z-index: 1;
        left: 50%;
    }

    &__text {
        width: 100%;
        color: $white;
        font-size: 16px;
        line-height: 24px;
        margin-top: 0;
        
        @media only screen and (min-width: 30em) {
            font-size: 24px;
            line-height: 40px;
            margin-top: 1em;
            top: 50px;
        }
    }

    .button {
        top: 110px;

        @media only screen and (min-width: 30em) {
            top: unset;
            bottom: 90px;
        }
    }

    &__overlay {

        &:before {
            content: "";
            background: black;
            display: block;
            height:100%;
            width: 100%;
            opacity: 0.6;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 0;
            position: absolute;
        }
    }
}

.popular-projects {
    padding: 30px 0;

    @media only screen and (min-width: 30em) {
        padding: 55px 0;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 30px;

        @media only screen and (min-width: 30em) {
            margin-bottom: 45px;
        }
    }

    &__one, &__two, &__three {
        margin-bottom: 40px;

        &__image {
            background-position: center!important;
            background-size: cover!important;
            min-height: 200px;
        }

        &__box-infos {
            border:1px solid #ddd;
            padding:20px;
            position: relative;

            h4 {
                margin:0 0 5px 0;
                padding-right: 45px;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &__author {
                color:$gray-2;
            }

            &__like {
                position: absolute;
                top:5px;
                right:5px;
                display: flex;

                &__counter {
                    height: 50px;
                    display:inline-block;
                    margin: 15px -11px 0 0;
                    color:$gray-2;
                }

                &__icon {
                    cursor: pointer;
                     height: 50px;
                     width: 50px;
                     background: none;
                     border:none;
                     background-image:url("../images/like.png");
                     background-position: left;
                     background-repeat:no-repeat;
                     background-size:2900%;
                     animation: heart-burst 1s infinity;
                     outline: none;
                     &--is-animate {
                         animation: heart-burst .8s steps(28) 1;
                         background-position: right;

                     }

                     &:hover {
                         background-position:right;
                     }
                }
            }
        }
    }
}
