
$gray-1:  #1f252d;
$gray-2:  #465365;
$gray-3:  #29313a;
$gray-4:  #2c3540;
$gray-light: #f3f3f3;

$white: #fff;

$blue: #278bff;
$purple: #6b79e9;
$red: #ff2064;

$primary: $blue;
$secondary: $purple;
