<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <link rel="stylesheet" href="./mincss/styles.css">
	    <title>WeMake - Connexion</title>
    </head>
    <body>
        <section class="container ">
            <div class="row">

                <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center bloc-form">
                    <a href="/" class="bloc-form__previous">&#8249;	Retour à l'accueil</a>
                    <h1 class="bloc-form__title"> WEMAKE</h1>
                    <form action="/connexion" method="POST" class="bloc-form__form">
                        <input id="formMail" class="bloc-form__form__input" type="mail form__mail" name="email" placeholder="Votre adresse email">
                        <span id="errorFormMail" class="error-box"></span>

                        <input id="formPassword" class="bloc-form__form__input" type="password" name="password" placeholder="Votre mot de passe">
                        <span id="errorFormPassword" class="error-box"></span>
                        <div class="row">
                            <div class="col-12 form-flex">
                                <a href="#">Mot de passe oublié ?</a>
                                <button type="submit" id="connectionButton" class="button button--blue" title="Se connecter">Se connecter</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            Vous n'êtes pas encore inscrit ? <a href="/inscription" class="bloc-form__subscribe">Inscrivez-vous</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>

        <script src="/socket.io/socket.io.js" charset="utf-8"></script>
        <script type="text/javascript">

          let $ = function(id){return document.getElementById(id)};

          //Initialisation de socket.io
          const socket = io('/');

          function connection(){

            const userInfo = {
              email: $('formMail').value,
              password: $('formPassword').value
            };

            socket.emit('connectionUser', userInfo);
          }

          // Gets variables for the form error handling
          const emailConnexion = $('formMail');
          const passwordConnexion = $('formPassword');

          const emailFormError = $('errorFormMail');
          const passwordFormError = $('errorFormPassword');

          $('connectionButton').addEventListener('click', (e) => {
            
            if (emailConnexion.value == '') {
                e.preventDefault();
                emailFormError.innerText = ('Veuillez renseigner votre adresse mail');
                emailFormError.classList.add('is-shown');
            }

            if (passwordConnexion.value == '') {
                e.preventDefault();
                passwordFormError.innerText = ('Veuillez renseigner votre mot de passe');
                passwordFormError.classList.add('is-shown');
            }

            connection();
          });

          socket.on('emailAlreadyExists', () => {
            console.log('emailAlreadyExists')
          });

		  socket.on('connectionRedirect', () => {
			socket.emit('connected')
		  });

        </script>

    </body>
</html>
