<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <link rel="stylesheet" href="./mincss/styles.css">
	    <title>WeMake - Mes projets</title>
    </head>
    <body>
        <header class="container-fluid app-header">
            <div class="row align-center">
                <div class="col-lg-6">
                    <nav class="menu">
                        <a href="#" class="menu__icon"><img src="./images/menu.svg" alt="Menu"></a>
                        <ul class="menu__sub">
                            <li class="menu__sub__link"><a href="" title="Accueil">Home</a></li>
                            <li class="menu__sub__link"><a href="" title="Galerie publique">Galerie publique</a></li>
                            <li class="menu__sub__link"><a href="/deconnexion" title="Déconnexion">Déconnexion</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-6 d-flex justify-end">
                    <a href="#" class="create-project button button--blue" title="Créer un projet">Créer un projet</a>
                </div>
            </div>
        </header>
        <main>
            <section class="all-projects container">
                <h1>Mes projets</h1>
                <% if(infos.length > 0){ %>
                <% infos.forEach(function(info) { %>
                  <article class="project row">
                      <div class="project__preview col-lg-4">
                          <div class="project__preview__status">
                            <% if(info.visibility){ %>
                              <img src="./images/public-white.svg" alt="">
                            <% } else{ %>
                              <img src="./images/cadena.svg" alt="">
                            <% } %>
                          </div>
                          <img class="project__preview__image" src="./images/demo.png" alt="">
                      </div>
                      <div class="project__informations col-lg-6">
                          <h2 class="project__informations__title">
                              <%= info.title %>
                          </h2>
                          <span class="project__informations__author"><strong>Auteur :</strong> <%= info.nickname %></span><br>
                          <span class="project__informations__colaborators"><strong>Collaborateurs :</strong> <%= info.nickname %></span><br>
                          <span class="project__informations__date">Créé le <%= info.creation_date %></span>
                      </div>
                      <div class="project__cta col-lg-2">
                          <a href="" class="button button--transparent" title="Modifier">Modifier</a>
                          <a href="" class="button button--red" title="Supprimer">Supprimer</a>
                      </div>
                  </article>
                <% }); %>
                <% }else{ %>
                    <div class="row">
                        <div>
                            <p>Vous n'avez pas de projets</p>
                            <a href="#" class="create-project button button--blue" title="Créer un projet">Créer un projet</a>
                        </div>
                    </div>
                <% } %>
            </section>
        </main>
        <script src="./minjs/script.js"></script>
    </body>
</html>
